<nav class="navbar navbar-expand-md main-title">
    <a class="navbar-brand">
        Build a better world, starting with people awareness.
    </a>
    <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active"><a routerLink="" class="nav-link">world</a></li>
        <li class="nav-item"><a class="nav-link">nation</a></li>
        <li class="nav-item"><a class="nav-link">city</a></li>
        <li class="nav-item"><a class="nav-link">zone</a></li>
    </ul>
    <ul class="navbar-nav ml-5" *ngIf="authAF.user | async as user; else showLogin">
        <li class="nav-item"><a class="nav-link">hallo</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="userdetails">{{user.email}}</a></li>
        <li class="nav-item">
            <a class="nav-link" routerLink="signout">signout</a>
        </li>
    </ul>
    <ng-template #showLogin>
        <ul>
            <li class="nav-item"><a class="nav-link" routerLink="signin">signin</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="signup">signup</a></li>
        </ul>
    </ng-template>

</nav>